{% load static %}				

<div class="main-btn1" id="main-btn1">
    <div class="child"><i class="fa fa-user"></i> </div>
  
</div>

<div class="sub-btns">
  <div class="btn1" id="btn1">
    <center>
      <a target="_blank" href="https://wa.me/+23481600051">
          <i class="fa fa-whatsapp" style="font-size:36px;color:#2f5698;"></i>
        
      </a>
    </center>
  </div>
  <div class="btn2" id="btn2">
    <center>
      <a target="_blank" href="https://www.instagram.com/roatek_technologies/">
        <i class="fa fa-instagram" style="font-size:36px;color:#2f5698;"></i>
      </a>
    </center>
  </div>
  <div class="btn3" id="btn3">
    <center>
      <a target="_blank" href="https://twitter.com/RoatekT">
        <i class="fa fa-twitter" style="font-size:36px;color:#2f5698;"></i>
      </a>
    </center>
  </div>
  <div class="btn4" id="btn4">
    <center>
      <a target="_blank" href="https://web.facebook.com/Roatek-Technologies-105627778093288/">
        <i class="fa fa-facebook" style="font-size:36px;color:#2f5698;"></i>
      </a>
    </center>
  </div>
  <div class="touch btn5" id="btn5">
    <center>
      <h3>K</h3>
    </center>
  </div>
  <div class="touch btn6" id="btn6">
    <center>
      <h3>L</h3>
    </center>
  </div>
  <div class="touch btn7" id="btn7">
    <center>
      <h3>A</h3>
    </center>
  </div>
  <div class="touch btn8" id="btn8">
    <center>
      <h3>T</h3>
    </center>
  </div>
  <div class="touch btn9" id="btn9">
    <center>
      <h4>Let's</h4>
    </center>
  </div>
</div>

<!--=====================================-->
<!--=====================================-->
<!--=     Footer Section Area Start     =-->
<!--=====================================-->
<!-- Footer start -->
<footer class="main-footer clearfix">
    <div class="container">
        
        <!-- Footer info-->
        <div class="footer-info">
            <div class="row">
                <!-- About us -->
                <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-item fi2">
                        <div class="main-title-2">
                            <h1>Contact Us</h1>
                        </div>
                     
                        <ul class="personal-info">
                            <li>
                                <i class="fa fa-map-marker"></i>
                                Address: Clever-Biz-Plaza Along Idi-Mango Road, Afobaja Junction, Adigbe Abeokuta, Ogun-State.
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                Email:<a href="mailto:info@cleverbiz.com.ng">info@cleverbiz.com.ng</a>
                            </li>
                            <li>
                                <i class="fa fa-phone"></i>
                                Phone: <a href="tel:+2348088735444">+234 808 8735 444</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                <!-- Links -->
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <div class="footer-item">
                        <div class="main-title-2">
                            <h1>Links</h1>
                        </div>

               
                        <ul class="links">
                            <li>
                                <a href="{% url 'Home' %}">Home</a>
                            </li>
                            <li>
                                <a href="{% url 'About' %}">About Us</a>
                            </li>
                            <li>
                                <a href="{% url 'Contact' %}">Contact Us</a>
                            </li>
                            <li>
                                <a href="{% url 'properties' %}">Properties</a>
                            </li>
                            <li>
                                <a href="{% url 'Services' %}">Services</a>
                            </li>
                           
                        </ul>
                    </div>
                </div>
                <!-- Recent cars -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-item popular-posts">
                        <div class="main-title-2">
                            <h1>Popular Properties</h1>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="{% static 'webApp/img/properties/properties-21.jpg' %}" alt="small-properties-1">
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading">
                                    <a href="{% url 'properties' %}">Sweet Family Home</a>
                                </h3>
                                <div class="listing-post-meta">
                                   
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="{% static 'webApp/img/properties/properties-22.jpg' %}" alt="small-properties-2">
                            </div>
                            <div class="media-body align-self-center">
                                <h3 class="media-heading">
                                    <a href="{% url 'properties' %}">Modern Family Home</a>
                                </h3>
                                <div class="listing-post-meta">
                                  
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="{% static 'webApp/img/properties/properties-23.jpg' %}" alt="small-properties-3">
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading">
                                    <a href="{% url 'properties' %}">Beautiful  Home</a>
                                </h3>
                                <div class="listing-post-meta">
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Subscribe -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-item">
                        <div class="main-title-2">
                            <h1>Opening Hours</h1>
                        </div>
                        <div class="newsletter clearfix">
                            <p>Monday - Friday &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8am - 6pm</p>
                            
                            <p>Saturday &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9am - 4pm</p>
                            
                            <p>Sunday &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Closed</p>
                            
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer end -->

<!-- Copy right start -->
<div class="copy-right">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-8 col-sm-12">
                <p>&copy;  2021 <a href="http://themevessel.com/" target="_blank">Clever-Biz</a>. All Rights Reserved.</p>
            </div>
            <div class="col-md-4 col-sm-12">
                <ul class="social-list clearfix">
                    <li>
                        <a href="#" class="facebook-bg">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="twitter-bg">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="linkedin-bg">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="google-bg">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="rss-bg">
                            <i class="fa fa-rss"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Copy end right-->
<!--=====================================-->
<!--=      Footer Section Area End      =-->
<!--=====================================-->

   